<div id="dashboard">
  <div id="nav-list">
    <div class="dropdown">
      <p class="dropdown-toggle", id="navbar-wagon-menu", data-toggle="dropdown">
        <%= current_user.first_name %>
      </p>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
    <h6>
      <div class="channel-nav">
        <a data-toggle="modal" data-target="#allChannels"><i>CHANNELS</i></a>
        <a type="button" data-toggle="modal" data-target="#chatRoomModal">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </h6>

    <div id="public-channels" class="chat-list">
      <% @chat_rooms.each do |chat_room| %>
      <%= render 'chat_room_links', chat_room: chat_room %>
      <% end %>
    </div>
    <h6>
      <div class="channel-nav">
        <a data-toggle="modal" data-target="#allUsers"><i>USERS</i></a>
      </div>
    </h6>
    <div id="private-channels" class="chat-list">
      <% @private_chats.each do |chat| %>
        <%= render 'chat_room_links', chat_room: chat %>
      <% end %>
    </div>
  </div>

  <div id="chat-room">
    <h2>
      Pick a chat!
      <!-- TODO: Simulate a click on general -->
    </h2>
  </div>
</div>

<!-- Modals -->
<%= render 'form_modal', chat_room: ChatRoom.new %>

<%= render 'chat_rooms/list_modal', all_chat_rooms: @all_chat_rooms %>

<%= render 'users/list_modal', all_users: @all_users %>


<%= content_for(:after_js) do %>
  <script>
    App["notification_channel_<%= current_user.id %>"] = App.cable.subscriptions.create(
      { channel: 'NotificationsChannel', user_id: <%= current_user.id %> },
        {
          received: (data) => {
            Notifyer.receive(data);
          }
        }
      )
    const general = document.querySelector(`[data-chat-id='1'] .channel-link`);
    Chat.eventFire(general, 'click');
  </script>
<% end %>
