<div id="dashboard">
  <div id="nav-list">
    <div class="dropdown">
      <div class="dropdown-toggle user-title", id="navbar-wagon-menu", data-toggle="dropdown">
        <div class="circle-green"></div>
        <p>
          <%= current_user.first_name %>
        </p>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
    <h6>
      <div class="channel-nav">
        <a data-toggle="modal" data-target="#allChannels" id="channelBtn"><i>CHANNELS</i></a>
        <a type="button" data-toggle="modal" data-target="#chatRoomModal">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </h6>

    <div id="public-channels" class="chat-list">
      <% @chat_rooms.each do |chat_room| %>
      <%= render 'chat_room_links', chat_room: chat_room %>
      <% end %>
    </div>
    <h6>
      <div class="channel-nav">
        <a data-toggle="modal" data-target="#allUsers"><i>USERS</i></a>
      </div>
    </h6>
    <div id="private-channels" class="chat-list">
      <% @private_chats.each do |chat| %>
        <%= render 'chat_room_links', chat_room: chat %>
      <% end %>
    </div>
  </div>

  <div id="chat-room">
    <img style="width: 100%; height: 100%;" src="https://i.giphy.com/media/pSpmpxFxFwDpC/giphy.webp" alt="">
  </div>
</div>

<!-- Modals -->
<%= render 'form_modal', chat_room: ChatRoom.new %>

<%= render 'chat_rooms/list_modal', all_chat_rooms: @all_chat_rooms %>

<%= render 'users/list_modal', all_users: @all_users %>


<%= content_for(:after_js) do %>
  <script>
    // Initializing for the notifications channel
    Notifyer.register(<%= current_user.id %>);
    // Setting up the general chat room
    const general = document.querySelector(`[data-chat-id='1'] .channel-link`);
    Chat.eventFire(general, 'click');
  </script>
<% end %>
