<div id="dashboard">
  <div id="chat-list">
    <p>
      <%= current_user.email %>
    </p>
    <h6>
      Channels
    <button type="button" data-toggle="modal" data-target="#chatRoomModal">
        +
    </button>
    </h6>
    <hr>
    <% @chat_rooms.each do |room| %>
    <div class="chat">
      <%= link_to room.name, chat_room_path(room), remote: true %>
    </div>
  <% end %>
  </div>

  <div id="chat-room">
    Met wie ga je praten?
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="chatRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a chat room</h4>
      </div>
        <%= simple_form_for ChatRoom.new, remote: true do |f| %>
      <div class="modal-body">
          <%= f.input :name %>
      </div>
      <div class="modal-footer">
        <%= f.submit  %>
      </div>
        <% end %>
    </div>
  </div>
</div>

