<h1><%= @chat_room.name %></h1>

<div id="messages">
  <% @chat_room.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>
<div class="form">
  <%= simple_form_for [@chat_room, @message], remote: true do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>


<% content_for :after_js do %>
  <script>
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      { received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messages = document.getElementById('messages')
          messages.insertAdjacentHTML("beforeend", data.message_partial)
          messages.children[messages.length -1].scrollIntoView();
        }
      }
    }
    )
  </script>
<% end %>
